<html><body><div class="modal-content">
    <span class="close" id="close_standard_modal">X</span>
    <label for="standard_name">Standard Name:</label><br>
    <input type="text" id="standard_name" name="standard_name" required=""><br><br>
    <div class="standards" id="standards"><div><button type="button" id="editdict1">edit</button><select name="test10" id="1"><option value="A">Area</option><option value="V">Volym</option></select><button type="button">remove</button></div><div><button type="button" id="editdict2">edit</button><select name="test11" id="2"><option value="001">type1</option><option value="002">type2</option></select><button type="button">remove</button></div></div>
  
    <button type="button" id="add_new_dict">Add Standard</button><br><br>
    <label for="demofield">Demo Field</label>
    <input type="text" class="demofield" id="demofield" name="demofield" readonly=""><br><br>
    <button type="button" id="add_standard">Submit New Standard</button><br><br>
  </div></body></html>