<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'namingtool/style.css' %}">
    <title>Change Password</title>
</head>
<body>
    <div class="content">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    {%if form%}
    <form method="post">
        <h1>Please enter your new password below</h1>
        {% csrf_token %}
        {{ form }}
        <button type="submit">confirm change</button>
    </form>
    {%else%}
    <p>If you still wish to change your password, you can resubmit your email 
        <a href="http://127.0.0.1:8000/password_reset/">here</a>.</p>
    {% endif %}
</div>
    
</body>
</html>
