<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'namingtool/style.css' %}">
    <title>Password Change request</title>
</head>
<body>
    <div class="content">
    <form method="post">
        <h1>Password Reset Request</h1>
        {%if error%}
        <p>{{error}}</p>
        {%endif%}
        {% csrf_token %}
        {{ password_reset_form }}
        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>
