.callout {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    z-index: 999;
    min-width: 130px;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    animation: ease-in ;
}

.error{
    background-color: #f44336;
}

.success{
    background-color: #33cc25;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#closeErrorButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    margin-left: auto; /* Push the button to the right */
}

#closeErrorButton:hover {
    color: #ccc;
}

#errorText {
    max-width: calc(100% - 30px); /* Adjust max-width based on button width */
    margin-right: 10px; /* Add some space between text and button */
}
