  /* Modal styles */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .logo{
    scale: .5;
}

  .modal-content {
    background-color:var(--containerDark);
    color:white;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    min-width: 500px;
    min-height: 500px;
    max-height: 80%;
    border-radius: 10px;
  }

  /* Close button style */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  .demofield{
    width: 50%;
  }

  .standards{
    display:grid;
    overflow-x: scroll;
    justify-content: left;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .standards::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    z-index: 3;
  }
  
  .standards::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
    z-index: 3;
  }
  
  .standards::-webkit-scrollbar-thumb {
    background-color: #63656e; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners */
    cursor:default;
    z-index: 3;
  }
  
  /* Hide scrollbar when not hovering over the file explorer */
  .standards:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
  }




  .standards > div{
    user-select: none;
    display:grid;
    background-color: #525974ab;
    padding:10px;
    padding-top:40px;
    min-width: 160px;
    grid-template:
    'header header'
    '. .'
    'select select';
    grid-gap: 3px;
    margin:10px;
  }
  .standards > div > select{
    grid-area:select;
  }
  .standards > div > h2{
    grid-area: header;
    margin: 0;
  }


  .standards >div.drag-over {
    border: 2px dashed #333;
}

.drop-target {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    border: 2px dashed #333;
    display: none; /* Initially hidden */
}

.project-form{
  border-radius: 10px;
  margin: 20px auto auto;
  min-height: 500px;
  width: 80%;
  padding: 30px;
  background-color: rgb(36, 37, 48);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.selected-standards-container-div {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  gap: 20px;
}

.selected-standards-container {
  min-width: 100px; /* Adjust the width as needed */
  min-height: 100px; /* Adjust the height as needed */
  background-color: rgb(76, 76, 83);
  display: grid;
  padding: 10px;
  gap: 20px;
}

.selected-standards-container.selected {
  background-color: #525974af;
}
/* Style for the custom dropdown */
      /* Style for the input container */
      .dropdown {
        position: relative;
        margin: 30px auto 30px; /* Add margin between dropdowns */
        text-align: center;
      }

      /* Style for the dropdown input */
      .dropdown-input {
        padding: 10px 30px 10px 20px; /* Increased padding to accommodate the arrow */
        width: 200px; /* Set the width of the input */
      }



      /* Style for the dropdown content */
      .dropdown-content {
        display: none;
        margin: 20px auto 20px auto;
        top: 30px;
        width:fit-content;
        background-color: rgba(36, 37, 48, 0);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        max-height: 315px; /* Maximum height for the dropdown */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden;
      }

      /* Style for the grid container */
      .grid-container {
        display: grid;
        width: 560px;
        min-height: 300px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; /* Gap between grid items */
      }

      /* Style for the grid item */
      .grid-item {
        background-color: #525974ab;
        padding: 10px;
        text-align: center;
        white-space: nowrap; /* Ensure content doesn't wrap */
        overflow: hidden; /* Hide any overflow */
        cursor: pointer; /* Add cursor pointer */
        height: 80px; /* Set a fixed height */
      }

      /* Style for grid item on hover */
      .grid-item:hover {
        background-color: rgb(84, 85, 102)
      }

      /* Style for selected item */
      .selected-item {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        background-color: #454f79;
        color: white;
        margin: auto;
        width: 80%;
        height: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

      /* Style for selected item on hover */
      .selected-item:hover {
        background-color: #242a42;
      }

      .option-buttons{
        display: none;
      }

      /* Style for option buttons */
      .option-button {
        background-color: #454f79;
        color: white;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 3;
      }

      /* Style for option buttons on hover */
      .option-button:hover {
        background-color: #242a42;
      }
      .dividers {
        display: flex;
        justify-content: center; /* Horizontally center child elements */
        align-items: center; /* Vertically center child elements */
        margin: 30px 10px 40px 10px;
      }
      
      .dividers > input {
        align-items: center;
        width: 15px;
        height: 15px;
        padding: 8px;
        margin: 6px;
        font-size: 19px;
      }
      
    
