.tab
{
    position: sticky;
    color: white;
    background: var(--gradientDark);
    float: right;
    margin-right: 20px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.tab.selected{
    background: none;
    background-color: rgb(36, 37, 48);
}
.tools.selected{
    display:grid;
}
.user.selected, .edit.selected{
    display: block;
}
.validation.selected{
    display: block;
}
.container > div {
    background-color: rgb(36, 37, 48);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    min-height: 600px;
    min-width: 750px;
}
.container{
    height: calc(100vh - 160px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
    z-index: 3;
  }
  
  .container::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
    z-index: 3;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #63656e; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners */
    cursor:default;
    z-index: 3;
  }
  
  /* Hide scrollbar when not hovering over the file explorer */
  .container:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
  }





.view{ 
    margin: 50px;
    background-color: rgb(36, 37, 48);
    display: none;
}

body{
    overflow-y: hidden;
    overflow-x: auto;
}