/* Style for the dropdown input */
  .dropdown-input {
    padding: 10px 30px 10px 20px; /* Increased padding to accommodate the arrow */
    width: 200px; /* Set the width of the input */
    margin: 0 auto 0 auto;
  }
  .input-container{
    width: 100%;
    text-align:center;
  }

  .dropdown {
    margin-top: 20px;
  }

  .dropdown-select {
    padding: 8px;
    font-size: 16px;
  }

  .list-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .styled-list {
    list-style-type: none;
    padding: 0;
  }

  .styled-list li {
    background-color: #ffffff41;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .styled-list li:nth-child(odd) {
    background-color: #f0f0f041;
  }

  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .green-button {
    background-color: rgb(96, 151, 96);
  }

  .red-button {
    background-color: rgb(148, 77, 77);
  }